@page "/Admin/Advertising"
<!-- .row -->
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Danh sách quảng cáo</h3>
            <p class="text-muted m-b-30 font-13"> Danh sách quảng cáo </p>
            <div class="form-group row" style="justify-content: left; margin-bottom: 10px;">
                <div class="col-xs-12 col-sm-12 col-md-6">
                  
                        <a class="btn btn-mat btn-primary m-r-10 m-b-10" style="color: #FFFFFF;" href="/Admin/Advertising/Edit?advertisingBlockId=@advertisingBlockId"><i class="fa fa-plus-circle"></i>Thêm mới</a>
                
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="white-box">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:20px;">
                                            <input type="checkbox" class="check" @onchange="args => OnCheckBoxChange(true,0,args.Value)" />
                                        </th>
                                        <th style="width:100px;">
                                        </th>
                                        <th>
                                            Tên quảng cáo
                                        </th>
                                        <th>
                                            Url
                                        </th>
                                        <th>
                                            Chiều cao
                                        </th>
                                        <th>
                                            Chiều rộng
                                        </th>
                                        <th>
                                            Mô tả
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (lstAdvertising == null)
                                    {

                                    }
                                    else
                                    {
                                        @foreach (var item in lstAdvertising)
                                        {
                                            bool Checked = false;
                                            if (listAdvertisingSelected.Contains(item.Id))
                                            {
                                                Checked = true;
                                            }
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="check" checked="@Checked" @onchange="args => OnCheckBoxChange(false,item.Id,args.Value)">
                                                </td>
                                                <td>
                                                    <div class="item-image">
                                                        <img src="/data/advertising/mainimages/original/@(@item.Image ?? "noimage.gif")" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="font-weight: 700;">
                                                        <a href="/Admin/Advertising/Edit?advertisingId=@item.Id">
                                                            @item.Name
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    @item.Url
                                                </td>
                                                <td>
                                                    @item.Height
                                                </td>
                                                <td>
                                                    @item.Width
                                                </td>
                                                <td>
                                                    @item.Description
                                                </td>
                                                <td>
                                                    <div style="margin-top: 20px;">
                                                        <a href="/Admin/Advertising/Edit?advertisingId=@item.Id">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a href="javascript:void(0);" @onclick="(() => DeleteAdvertising(item.Id))">
                                                            <i class="fa fa-trash" style="color:red"></i>
                                                        </a>
                                                    </div>
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ConfirmBase @ref="DeleteConfirmation" ConfirmationChanged="ConfirmDelete_Click"
             ConfirmationMessage=@($"Bạn có chắc chắn muốn xóa?") ConfirmationTitle=@("Xác nhận xóa") />